.splide__slide {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.splide__arrow > svg {
  fill: #1976D2;
}

.splide__arrow--prev {
  left: -2.5rem;
}

.splide__arrow--next {
  right: -2.5rem;
}

@media (max-width: 900px) {
  .splide__arrow--prev {
    left: -0.5rem;
  }
  
  .splide__arrow--next {
    right: -0.5rem;
  }
}
